{# src/IB/PlatformBundle/Resources/views/Advert/edit.html.twig #}

{% extends "IBPlatformBundle::layout.html.twig" %}

{% block title %}
  Ajouter une annonce - {{ parent() }}
{% endblock %}

{% block ibplatform_body %}

  <h2>Ajouter une annonce</h2>

  {{ include("IBPlatformBundle:Advert:form.html.twig") }}

  <p>
    Vous ajoutez une nouvelle annonce, merci d'être précis dans vos attentes.
  </p>



{% endblock %}