{# src/IB/PlatformBundle/Resources/views/Advert/delete.html.twig #}

{% extends "IBPlatformBundle::layout.html.twig" %}

{% block title %}
  Supprimer une annonce - {{ parent() }}
{% endblock %}

{% block ibplatform_body %}

  <h2>Suppression d'une annonce</h2>

  {{ include("IBPlatformBundle:Advert:form.html.twig") }}

  <p>
    Vous supprimez une annonce existante.
  </p>

  <p>
    <a href="{{ path('ib_platform_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'accueil
    </a>
  </p>

{% endblock %}